.notification__container--success {
  background: #6ee7b7;
  border-left: 8px solid #059669;
  color: #047857;
}

.notification__container--warning {
  background: #ffdb9b;
  border-left: 8px solid #ffa502;
  color: #ce8500;
}

.notification__container--error {
  background: #fca5a5;
  border-left: 8px solid #dc2626;
  color: #b91c1c;
}

.notification__button--warning {
  background: #ffd080;
}

.notification__button--error {
  background: #f87171;
}

.notification__button--success {
  background: #34d399;
}

.notification__container {
  position: relative;
  padding: 15px;
  min-width: 420px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 1px;

  .notification__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 20px;
  }
  .notification__message {
    flex-grow: 1;
  }
  .notification__button {
    position: absolute;
    height: 100%;
    width: 50px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    svg {
      cursor: pointer;
      transition: all 0.3s ease-out;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
