.button--action {
  padding: 5px;
  color: var(--level-button);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  transition: all 0.3s ease-out;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  svg {
    transition: all 0.3s ease-out;
  }
  &:hover {
    background: var(--level-button);
    color: var(--active-light-color);
    transform: scale(0.95);
  }
}
