.nav-bar {
  display: flex;
  width: 100%;
  padding: 20px;
  color: var(--light-shades);
  font-family: consolas;
  font-size: 20px;
  position: absolute;
  top: 0;
  align-content: center;
}

.nav-bar li {
  text-decoration: none;
  list-style-type: none;
}

.nav-bar li svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.nav-bar li:first-of-type {
  flex-grow: 1;
}
